<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>Profile of <%= name%></title>
        <link rel="stylesheet" href="/assets/style.css" type="text/css" />
    </head>
    <body>
        <%- include('partials/nav.ejs') %>
        <h1>You're searching for <%= name %>'s information</h1>
        <p>Name: <%= data.name %></p>
        <p>Religion: <%= data.religion %></p>
        <p><%= data.uni%></p>
        <ul>
            <% data.hobbies.forEach(function(item){ %>
                <li><%= item %></li>
            <% }); %>

        </ul>
    </body>
</html>
